@model DiveCompMVC.Models.ActiveContestVM

@{
    ViewData["Title"] = "PerformJump1";
}

<h1>PerformJump1</h1>

<h4>ActiveContestVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PerformJump1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="score1" class="control-label"></label>
                <input asp-for="score1" class="form-control" />
                <span asp-validation-for="score1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="score2" class="control-label"></label>
                <input asp-for="score2" class="form-control" />
                <span asp-validation-for="score2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="score3" class="control-label"></label>
                <input asp-for="score3" class="form-control" />
                <span asp-validation-for="score3" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

