@model DiveCompMVC.Models.ViewModel

<h3> Add New EventType </h3>
<div class="row">
    <select class="form-control">
        @foreach (var item in Model.AllEventTypes)
        {
            <option value="@item.Id">
                @item.Gender @item.Type @item.Height m
            </option>
        }
    </select>
</div>