@model DiveCompMVC.Models.ViewModel

<h3> Add Diver to Contest </h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDiver" asp-controller="NewContest">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Divers.FirstName" class="control-label"></label>
                <input asp-for="Divers.FirstName" class="form-control" />
                <span asp-validation-for="Divers.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Divers.LastName" class="control-label"></label>
                <input asp-for="Divers.LastName" class="form-control" />
                <span asp-validation-for="Divers.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Divers.Club" class="control-label"></label>
                <input asp-for="Divers.Club" class="form-control" />
                <span asp-validation-for="Divers.Club" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Divers.Country" class="control-label"></label>
                <input asp-for="Divers.Country" class="form-control" />
                <span asp-validation-for="Divers.Country" class="text-danger"></span>
            </div>
            @ViewBag.Message
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>