@{
    Layout = "_Layout";
}

<body>
    <button class="btn-outline-dark" type="button">
        <a class="btn-link" asp-area="" asp-controller="Contest" asp-action="AddContest">Add New Contest</a>
    </button>
    <button class="btn-outline-dark" type="button">
        <a class="btn-link" asp-area="" asp-controller="Diver" asp-action="AddDiver">Add New Diver</a>
    </button>
    <button class="btn-outline-dark" type="button">
        <a class="btn-link" asp-area="" asp-controller="EventType" asp-action="AddEventType">Add New EventType</a>
    </button>
</body>