@model IEnumerable<DiveComp.Data.Models.EventsModel>

@{
    ViewData["Title"] = "OpenContest";
}

<h1>Events</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Event Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayNameFor(model => model.Type.Gender) @Html.DisplayNameFor(model => model.Type.Type) @Html.DisplayNameFor(model => model.Type.Height)
            </td>
            <td>
                @Html.ActionLink("Leaderboard", "Leaderboard", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
